@using DoctorConsultAppMVC.Models
@model Booking

@{
    ViewBag.Title = "Booking";
}
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

 <div class="k-form-horizontal">
    <div style="background-color:aliceblue; border:groove;border-radius: 8px;">
        <div class="k-fab-dark" style="color:blue; text-align:center;">
            <h4>Booking Form</h4>
        </div>
        <hr />
        <div class="k-form-group" style="margin:0 0 0 10px;">
            <div class="k-col-md-10">
                @(Html.Kendo().TextBoxFor(model => model.PName)
                      .Name("PName")
                      .Label(label=>label.Content("PName").Floating(true))
                      .HtmlAttributes(new { placeholder = " Name", @class = "form-control", required = "required", style = "width: 162%;border-radius: 8px;border-color: #3480eb ;" })
           )
            </div>
        </div>
        <br />
        <div class="k-form-group" style="margin:0 0 0 10px;">
            <div class="k-col-md-10">
                @(Html.DropDownListFor(m => m.Gender,
            new SelectList(Enum.GetValues(typeof(Gender))),
            "Select Gender", new { @class = "form-control", style = "width: 120%;border-radius: 8px;border-color: #3480eb ;" })
        )
            </div>
        </div>

        <div class="k-form-group" style="margin:0 0 0 10px;">
            <div class="k-col-md-10">
                @(Html.Kendo().TextBoxFor(model => model.Age)
                      .Name("Age")
                      .Label(label=>label.Content("Age").Floating(true))
                      .HtmlAttributes(new { placeholder = " Age", @class = "form-control", required = "required", style = "width: 162%;border-radius: 8px;border-color: #3480eb ;" })
           )
            </div>
        </div>

        <div class="k-form-group" style="margin:0 0 0 10px;">
            <div class="k-col-md-10">
                @(Html.Kendo().TextBoxFor(model => model.Problem)
                      .Name("Problem")
                      .Label(label=>label.Content("Problem").Floating(true))
                      .HtmlAttributes(new { placeholder = " Problem", @class = "form-control", required = "required", style = "width: 162%;border-radius: 8px;border-color: #3480eb ;" })
           )
            </div>
        </div>

        @*<div class="form-group" style="margin:0 0 0 10px;">
            <div class="k-col-md-10">
                @(Html.Kendo().TextBoxFor(model => model.BookingDate)
                      .Name("BookingDate")
                      .Label(label=>label.Content("BookingDate").Floating(true))
                      .HtmlAttributes(new { placeholder = " BookingDate", @class = "form-control", required = "required", style = "width: 162%;border-radius: 8px;border-color: #3480eb ;" })
           )
            </div>
        </div>

        <div class="form-group" style="margin:0 0 0 10px;">
            <div class="k-col-md-10">
                @(Html.Kendo().TextBoxFor(model => model.StartTime)
                      .Name("StartTime")
                      .Label(label=>label.Content("StartTime").Floating(true))
                      .HtmlAttributes(new { placeholder = " StartTime", @class = "form-control", required = "required", style = "width: 162%;border-radius: 8px;border-color: #3480eb ;" })
           )
            </div>
        </div>

        <div class="form-group" style="margin:0 0 0 10px;">
            <div class="k-col-md-10">
                @(Html.Kendo().TextBoxFor(model => model.EndTime)
                      .Name("EndTime")
                      .Label(label=>label.Content("EndTime").Floating(true))
                      .HtmlAttributes(new { placeholder = " EndTime", @class = "form-control", required = "required", style = "width: 162%;border-radius: 8px;border-color: #3480eb ;" })
           )
            </div>
        </div>*@
        <br />

        <div class="k-form-group">
            <div class="k-col-md-offset-2 col-md-10">
                <input type="submit" value="submit" class="btn btn-primary" />
            </div>
            <div>
                @Html.ActionLink("Back to Doctor List", "GetdoctorList")
            </div>
        </div>
    </div>    
 </div>
}

<script>
$(function () {
$("form").kendoValidator();
});
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
