@model IEnumerable<DoctorConsultAppMVC.Models.DoctorModel>

@{
    ViewBag.Title = "GetdoctorList";
}
<div class="k-fab-dark" style="color:blue; align-content:center baseline ">
    <h5>Hello.. @Session["User"]</h5>
</div>
    <h2>Available Doctors</h2>


    <div class="row">
        <div class="col-12">

            @(Html.Kendo().Grid<DoctorConsultAppMVC.Models.DoctorModel>(Model)
                             .Name("grid")
                             .Columns(column=>
                             {
                             column.Bound(p => p.DoctorId);
                             column.Bound(p => p.DoctorName);
                             column.Bound(p => p.Email);
                             column.Bound(p => p.Specilization);
                             column.Template(@<text>@Html.ActionLink(@item.DoctorName, "DoctorDetails", "Consultation", new { @item.DoctorId }, null)</text>);

                             })
                             .Pageable()
                             .Sortable()
                             .Navigatable()
                             .Resizable(r => r.Columns(true))
                             .Filterable()
                             .Scrollable()
                             .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .PageSize(20)
                                      .Read(read => read.Action("GetdoctorList", "DoctorConsultAppController")))

                   )

        </div>

    </div>




    
