@model DoctorConsultAppMVC.Models.DownloadPrescription
@{
    ViewBag.Title = "GetPrescription";
}
<br />
<div class="k-form-horizontal">
    <div style="text-align:; background-color:aliceblue; border:groove;border-radius: 8px;">
        <h4 style="text-align:center;">Prescription Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("Prescription :")
            </dt>
            <dd>
                <img src="@Url.Content(Model.Prescription)" width="250" height="250" />
            </dd>
            <br />
            <dt>
                @Html.Label("Additinal Comments :")
            </dt>
            <dd>              
                @Html.DisplayFor(model => model.AdditionalSuggestion)
            </dd>
        </dl>
        <br />
        <dl>
            <dt>
                <div style=" margin: 0 0 0 80px">
                    <button> @Html.ActionLink("Back to Home", "UserHome","Home")</button>
                </div>              
            </dt>      
        </dl>
    </div>
</div>

