@model DoctorConsultAppMVC.Models.DownloadPrescription

@{
    ViewBag.Title = "GetPrescription";
}

<br />
<div class="k-form-horizontal">
    <div style="text-align:; background-color:aliceblue; border:groove;border-radius: 8px;">
        <h4 style="text-align:center;">Prescription Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("Prescription :")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prescription)
            </dd>
            <br />
            <dt>
                @Html.Label("Additinal Comments :")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdditionalSuggestion)
            </dd>

        </dl>
        <br />
        <dl>
            <dt>
                <div style=" margin: 0 0 0 80px">
                    <button> @Html.ActionLink("Back to List", "Index")</button>
                </div>
               
            </dt>      

        </dl>
    </div>
</div>

