@model DoctorConsultAppMVC.Models.PastConsultationDetails

@{
    ViewBag.Title = "PastConsultationDetails";
}

<div>
    <div>
        <div class="k-fab-dark" style="color:blue; text-align:center;">
            <h4>Past Consultation Details</h4>
        </div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BookingId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookingId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DoctorId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DoctorId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PatientName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PatientName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BookingDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookingDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>

        </dl>
        <div>
            <div>
                <button class="k-button">
                    @Html.ActionLink("Back to List", "PastConsultList"@*, new { id = Model.DoctorId }*@)
                </button>
                <button class="k-button">
                    @Html.ActionLink("Download Prescription", "PastConsultationDetails"@*, new { id = Model.DoctorId }*@)
                </button>
            </div>
        </div>
    </div>
</div>
