@model DoctorConsultAppMVC.Models.PastConsultationDetails

@{
    ViewBag.Title = "PastConsultationDetails";
}
<br />
<div style="background-color:#d9ffb3;border:groove;border-radius: 10px;">
    <div class="k-form-horizontal">
        <div class="k-fab-dark" style="color:blue; text-align:center;">
            <h4>Past Consultation Details</h4>
        </div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("Booking ID : ")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookingId)
            </dd>
            <br />
            <dt>
                @Html.Label("Doctor ID : ")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DoctorId)
            </dd>
            <br />
            <dt>
                @Html.Label("Doctor Name : ")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PatientName)
            </dd>
            <br />
            <dt>
                @Html.Label("Booking Date : ")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookingDate)
            </dd>
            <br />
            <dt>
                @Html.Label("Start Time : ")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartTime)
            </dd>
            <br />
            <dt>
                @Html.Label("End Time : ")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>

        </dl>
        <div>
            <div style="margin:0 0 0 110px">
                <button class="k-button">
                    @Html.ActionLink("Back to List", "PastConsultList"@*, new { id = Model.DoctorId }*@)
                </button>
                <button class="k-button">
                    @Html.ActionLink("Download Prescription", "GetPrescription", new { id = Model.BookingId })
                </button>
            </div>
        </div>
    </div>
    <br />
</div>
