@model DoctorConsultAppMVC.Models.DoctorRegistration

@{
    ViewBag.Title = "RegisterDoctor";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="k-form-horizontal">
       <div class="k-fab-dark" style="color:blue;text-align:center;">
        <h4>Doctor Registration Form</h4>
          <div>
            <img src="~/images/doctor.png"alt="Smiley face" width="70" height="50" style="border:1px solid black" />
          </div>
       </div>
       <br />

        <div style="background-color:#d9ffb3;border:groove;border-radius: 10px;">
            <div class="k-form-group" style="margin:0 0 0 5px">
                <div class="k-col-md-10">
                    @(Html.Kendo().TextBoxFor(model => model.DoctorName)
                      .Name("DoctorName")
                      .Label(label=>label.Content("Name").Floating(true))
                      .HtmlAttributes(new { placeholder = " Name", @class = "form-control", required = "required", style = "width: 120%;border-radius: 8px;border-color: ##3480eb;" })
              )
                </div>
            </div>

            <div class="k-form-group" style="margin:0 0 0 5px">
                <div class="k-col-md-10">
                    @(Html.Kendo().TextBoxFor(model => model.Gender)
                      .Name("Gender")
                      .Label(label=>label.Content("Gender").Floating(true))
                      .HtmlAttributes(new { placeholder = " Gender", @class = "form-control", required = "required", style = "width: 120%;border-radius: 8px;border-color: ##3480eb;" })
              )
                </div>
            </div>

            <div class="k-form-group" style="margin:0 0 0 5px">
                <div class="k-col-md-10">
                    @(Html.Kendo().TextBoxFor(model => model.Specilization)
                      .Name("Specilization")
                      .Label(label=>label.Content("Specilization").Floating(true))
                      .HtmlAttributes(new { placeholder = " Specilization", @class = "form-control", required = "required", style = "width: 120%;border-radius: 8px;border-color: ##3480eb;" })
             )
                </div>
            </div>

            <div class="k-form-group" style="margin:0 0 0 5px">
                <div class="k-col-md-10">
                    @(Html.Kendo().TextBoxFor(model => model.PhNo)
                      .Name("PhNo")
                      .Label(label=>label.Content("PhNo").Floating(true))
                      .HtmlAttributes(new { placeholder = " Phone", @class = "form-control", required = "required", style = "width: 120%;border-radius: 8px;border-color: ##3480eb;" })
                )
                </div>
            </div>

            <div class="k-form-group" style="margin:0 0 0 5px">
                <div class="k-col-md-10">
                    @(Html.Kendo().TextBoxFor(model => model.Email)
                      .Name("Email")
                      .Label(label=>label.Content("Email").Floating(true))
                      .HtmlAttributes(new { placeholder = " Email", @class = "form-control", required = "required", style = "width: 120%;border-radius: 8px;border-color: ##3480eb;" })
               )
                </div>
            </div>

            <div class="k-form-group" style="margin:0 0 0 5px">
                <div class="k-col-md-10">
                    @(Html.Kendo().TextBoxFor(model => model.Password)
                      .Name("Password")
                      .Label(label=>label.Content("Password").Floating(true))
                      .HtmlAttributes(new { placeholder = " Password", @class = "form-control", type="Password",required = "required", style = "width: 120%;border-radius: 8px;border-color: ##3480eb;" })
                )
                </div>
            </div>
            <br />

            <div class="k-form-group">
                <div class="k-col-md-offset-2 col-md-10">

                    <button type="submit" value="Register" class="btn  btn-primary">Register</button>
                </div>
                <div>
                    @Html.ActionLink("Login here", "DoctorLogin")
                </div>
            </div>
        </div>
    </div>
 }



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
