@model DoctorConsultAppMVC.Models.DoctorModel

@{
    ViewBag.Title = "Search";
}
<br />

<div  style="text-align:; background-color:aliceblue; border:groove;border-radius: 8px; margin:0 40 0 70px" >
    <div>
        <div style="text-align:center;">

            <h4>Doctor Details</h4>
          
            <img src="~/images/male-doctor.jpg" alt="Smiley face" width="55" height="55" style="border:1px solid black; border-radius: 8px;"  />
        </div>
        
        <hr />
        <dl class="dl-horizontal" style="margin:0 0 0 150px">
            <dt>
                @Html.Label("Doctor ID :")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DoctorId)
            </dd>
            <br />

            <dt>
                @Html.Label("Doctor Name :")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DoctorName)
            </dd>
            <br />
            <dt>
                @Html.Label("Gender :")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <br />

            <dt>
                @Html.Label("Email :")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <br />
            <dt>
                @Html.Label("Phone :")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhNo)
            </dd>
            <br />
            <dt>
                @Html.Label("Specilization :")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Specilization)
            </dd>

        </dl>
    </div>
    <br />
    <div style="margin:0 0 0 150px">
        @*@(Html.Kendo().Button()
            .Name("primaryTextButton")
            .HtmlAttributes(new { type = "button", @class = "k-primary" })
            .Content("Check SlotAvailabilty")
            )*@

        <button class="btn">@Html.ActionLink("Book an Appointment", "Booking", new { id = Model.DoctorId })</button>

        <button class="btn ">@Html.ActionLink("Check SlotAvailabilty", "Slots", new { id = Model.DoctorId })</button>
        

    </div>
    <br />
</div>

@*<p>
    @Html.ActionLink("Book an Appointment", "Booking", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to  Doctors List", "GetdoctorList")

    @Html.ActionLink("Checkslots", "Slots", new {  id = Model.DoctorId })
</p>*@


@*<div id="windowForAssign"></div>
<script>
       $('button').click(createAndShowPopup);
       var kendoWindowAssign = $("#windowForAssign");
       var title = "Sample title";
    var url = "@Html.ActionLink("Check SlotAvailabilty", "Slots", new { id = Model.DoctorId })";

       function createAndShowPopup(){
         kendoWindowAssign.kendoWindow({
           width: "650px",
           modal: true,
           height: '120px',
           iframe: true,
           resizable: false,
           title: title,
           content: url,
           visible: false
         });

         var popup = $("#windowForAssign").data('kendoWindow');
         popup.open();
         popup.center();
       }
</script>*@
