@model DoctorConsultAppMVC.Models.DoctorModel

@{
    ViewBag.Title = "Search";
}

<div>
    <h4>Doctor Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>

            @Html.DisplayNameFor(model => model.DoctorId)
        </dt>

        <dd>

            @Html.Kendo().MaskedTextBoxFor(model => model.DoctorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specilization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specilization)
        </dd>

    </dl>
</div>
<div>
    @(Html.Kendo().Button()
        .Name("primaryTextButton")
        .HtmlAttributes(new { type = "button", @class = "k-primary" })
        .Content("Primary Button")
        )
    <button class="k-button">
        @Html.ActionLink("Book an Appointment", "Booking", new {  id = Model.DoctorId })
    </button>
</div>

<p>
    @Html.ActionLink("Book an Appointment", "Booking", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to  Doctors List", "GetdoctorList")

    @Html.ActionLink("Checkslots", "Slots", new {  id = Model.DoctorId })
</p>

<button>Create and open popup</button>
<div id="windowForAssign"></div>
<script>
       $('button').click(createAndShowPopup);
       var kendoWindowAssign = $("#windowForAssign");
       var title = "Sample title";
      var url = "https://localhost:44386/Consultation/Slots/104";

       function createAndShowPopup(){
         kendoWindowAssign.kendoWindow({
           width: "650px",
           modal: true,
           height: '120px',
           iframe: true,
           resizable: false,
           title: title,
           content: url,
           visible: false
         });

         var popup = $("#windowForAssign").data('kendoWindow');
         popup.open();
         popup.center();
       }
</script>
