@model DoctorConsultAppMVC.Models.UserProfile

@{
    ViewBag.Title = "UserProfile";
}

<div class="k-form-horizontal">
    <div class="k-fab-dark" style="color:blue; text-align:center;">
        <h4>Profile</h4>
        <div>
            <img src="~/images/user.png" alt="Smiley face" width="45" height="45" style="border:1px solid black; border-radius: 8px;" />
        </div>
        <br />
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>

