@model DoctorConsultAppMVC.Models.UserProfile

@{
    ViewBag.Title = "UserProfile";
}
<br />
<div class="k-form-horizontal">
    <div style="text-align:; background-color:aliceblue; border:groove;border-radius: 8px;">
        <div class="k-fab-dark" style="color:blue; text-align:center;">
            <h4>Profile</h4>
        </div>
        <hr />
        <div style="margin:0 0 0 150px">
            <img src="~/images/user.png" alt="Smiley face" width="45" height="45" style="border:1px solid black; border-radius: 8px;" />
        </div>
        <br />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("User ID :  ")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserId)
            </dd>
            <br />
            <dt>
                @Html.Label("  Name :  ")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <br />
            <dt>
                @Html.Label("  Phone No  :  ")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhNo)
            </dd>
            <br />
            <dt>
                @Html.Label(" Email ID :  ")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
        <br />
        <div style="margin:0 0 0 80px">
            <dl>
                <dt>
                    @Html.ActionLink("Back to Home", "UserHome", "Home")
                </dt>
            </dl>
        </div>
        
        
    </div>
</div>

